@page "/Granovment"
@using Anu.BaseInfo.ServiceModel.GeoInfo
@using Anu.BaseInfo.Enumerations
@using Anu.BaseInfo.ServiceModel.Attachment;
@using Anu.PunishmentOrg.Client.Infrastructure.Utitlities
@using Anu.Commons.ServiceModel.ServiceResponseEnumerations
@using Anu.PunishmentOrg.Client.Infrastructure.Contracts.BaseInfo.GeoLocation
@using Anu.PunishmentOrg.Client.Infrastructure.Granovment
@using Anu.BaseInfo.ServiceModel.Attachment;
@using Anu.PunishmentOrg.Client.Infrastructure.Utitlities
@using Anu.PunishmentOrg.ServiceModel.Gravamen
@using BlazorDownloadFile;

@inject IDialogService DialogService
@inject IBlazorDownloadFileService BlazorDownloadFileService;
@inject IGeoLoactionService _geoLoactionService
@inject AppConfiguration _appConfiguration
@inject ISnackbar Snackbar


@layout MainLayout
@using FluentValidation
@using Newtonsoft.Json

<style>
    .selected {
        background-color: #1E88E5 !important;
    }

        .selected > td {
            color: white !important;
        }

            .selected > td .mud-input {
                color: white !important;
            }

    .grvTitle {
        color: red;
        font-size: 1.1em;
        font-weight: 300;}
    ul{
        list-style-type:square
    }

    li {
        color: black;
        padding: 5px;
        margin-right: 80px;
        font-size: 1.2em;
    }

        li.even{
        color: red;
        padding: 5px;
        margin-right: 80px;
        font-size: 1.2em;
    }
</style>

<div class="punFrmheader">
  <h3>ثبت شکوائیه</h3>
</div>

<MudForm Model="@_pGravamenContract" @ref="@form" ValidationDelay="0">
    <MudExpansionPanels MultiExpansion="true" DisableBorders="false" Style="">
        <MudExpansionPanel  Text="لطفا در هنگام ثبت موارد ذیل را مورد توجه قرار دهید" IsExpanded="true">
            <ul>
                <li>
                 فیلدهایی که با علامت <MudImage Src="/pic/require.png" Width="20" Height="20" Elevation="25" Class="rounded-lg"/>  مشخص شده اند الزامی بوده و حتما باید ورود اطلاعات شوند
                </li>
                <li>
                  از کلید <MudImage Src="/pic/AddToList.png" Width="20" Height="20" Elevation="25" Class="rounded-lg"/>  جهت اضافه کردن اطلاعات به جداول مربوطه استفاده میشود
                </li>
                <li >
                  از کلید <MudImage Src="/pic/Delete.png" Width="20" Height="20" Elevation="25" Class="rounded-lg"/> جهت حذف کردن اطلاعات انتخاب شده از جداول استفاده میشود
                </li>
                <li>
                  از کلید <MudImage Src="/pic/Edit.png" Width="20" Height="20" Elevation="25" Class="rounded-lg"/> جهت ویرایش اطلاعات انتخاب شده از جداول استفاده میشود پس از ویرایش اطلاعات کلید بعلاوه را کلیک کرده تا اطلاعات به جدول مربوطه اضافه شود
                </li>
                <li>عکس واحد صنفی - فاکتور - کالا - فیش/رسید پرداختی و ... در پیوست اضافه گردد.</li>
                <li>حجم فایل جهت بارگذاری کمتر از 200 کیلوبایت باشد</li>
                <li>اطلاع رسانی از اقدامات شکوائیه از طریق شماره همراه صورت می پذیرد لطفا در وارد کردن شماره همراه دقت داشته باشید</li>
            </ul>
        </MudExpansionPanel>
        <MudExpansionPanel Text="اطلاعات اولیه" IsExpanded="true">
            <div class="row">
                <div class="col-sm-4">
                    <MudSelect @bind-Value="selectedState" Margin="Margin.Dense" T="GeoLocationContract" Label="استان" Required="true"
                               Variant="Variant.Outlined" id="cmbstate" SelectedValuesChanged="@Statevaluechanged"
                               AdornmentIcon="@Icons.Outlined.NoiseControlOff" AdornmentColor="Color.Error" AnchorOrigin="Origin.BottomCenter"
                               Adornment="Adornment.End" IconSize="Size.Small" Class="form-control" RequiredError="استان را مشخص نمایید" Clearable>
                        @foreach (GeoLocationContract item in States.OrderBy(a => a.LocationName))
                        {
                            <MudSelectItem T="GeoLocationContract" Value="@item">@item.LocationName</MudSelectItem>
                        }
                    </MudSelect>
                </div>
                <div class="col-sm-4">
                </div>
                <div class="col-sm-4">
                    <MudSelect Margin="Margin.Dense" Label="شهرستان" Variant="Variant.Outlined"
                               id="cmbprovince" AdornmentIcon="@Icons.Outlined.NoiseControlOff" AnchorOrigin="Origin.BottomCenter"
                               AdornmentColor="Color.Error" Adornment="Adornment.End" IconSize="Size.Small"
                               Required="true" Class="form-control" RequiredError="شهرستان را مشخص نمایید" T="GeoLocationContract" @bind-Value="selectedProvince" Clearable>
                        @foreach (GeoLocationContract item in province.OrderBy(a => a.LocationName))
                        {
                            <MudSelectItem T="GeoLocationContract" Value="@item">@item.LocationName</MudSelectItem>
                        }
                    </MudSelect>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <MudSelect @bind-Value="_pGravamenContract.PetitionSubject" T="string" Label="موضوع شکوائیه"
                               MultiSelection="true"
                               AnchorOrigin="Origin.BottomCenter" Clearable
                               SelectAll="true" SelectAllText="انتخاب همه "
                               Variant="Variant.Outlined" Class="form-contrl"
                               Dense="true" Margin="Margin.Dense" AdornmentColor="Color.Error"
                               Adornment="Adornment.End" IconSize="Size.Small" Required="true" RequiredError="موضوع شکوائیه/گزارش را مشخص نمایید">
                        @foreach (var item in @reason)
                        {
                            <MudSelectItem T="string" Value="@item">@item</MudSelectItem>
                        }
                    </MudSelect>
                </div>
                <div class="col-sm-12">
                    <MudTextField @bind-Value="_pGravamenContract.PetitionDescription" Class="form-control" Label="شرح شکوائیه" Lines="5"
                                  Required="true" Variant="Variant.Outlined" Margin="Margin.Dense" RequiredError="شرح شکوائیه/گزارش را وارد کنید" />
                </div>
                <div class="col-sm-12">
                    <p style="color: red; font-size: 108%;">لطفا در صورت عدم امکان ارائه مستندات کافی یا داشتن شکایت و گزارش در خصوص سایر تخلفات از طریق لینک زیر اقدام فرمایید.</p>
                    <a href="https://samt.124.ir/home" target="_blank"><u><h6>فرم ثبت شکایات و گزارشات مردمی در خصوص سایر موضوعات در سامانه 124 سازمان حمایت</h6></u></a>
                </div>
            </div>
        </MudExpansionPanel>
        <MudExpansionPanel Text="اطلاعات شاکی/شاکیان">
            <MudForm Model="@_reporter" @ref="@FormReporter">
                <div class="row table-responsive-sm">
                    <div class="col-sm-4">
                        <MudTextField Class="form-control" @bind-Value="_reporter.Name" id="Name" Label="نام" Variant="Variant.Outlined"
                                      Margin="Margin.Dense" AdornmentIcon="@Icons.Outlined.NoiseControlOff" AdornmentColor="Color.Error"
                                      Adornment="Adornment.End" IconSize="Size.Small" Required="true" RequiredError="نام شاکی را وارد نمایید"></MudTextField>
                    </div>
                    <div class="col-sm-4">
                        <MudTextField Class="form-control" @bind-Value="_reporter.Family" id="Family" Label="نام خانوادگی" Variant="Variant.Outlined"
                                      Margin="Margin.Dense" Required="true" AdornmentIcon="@Icons.Outlined.NoiseControlOff" AdornmentColor="Color.Error"
                                      Adornment="Adornment.End" IconSize="Size.Small" RequiredError="نام خانوادگی شاکی را وارد نمایید"></MudTextField>
                    </div>
                    <div class="col-sm-4">
                        <MudTextField Class="form-control" @bind-Value="_reporter.FatherName" id="FatherName" Label="نام پدر" Variant="Variant.Outlined"
                                      Margin="Margin.Dense"></MudTextField>
                    </div>
                    <div class="col-sm-4">
                        <MudTextField Class="form-control" @bind-Value="_reporter.IdentityNumber" id="IdentityNumber" Label="شماره شناسنامه" Variant="Variant.Outlined"
                                      Margin="Margin.Dense"></MudTextField>
                    </div>
                    <div class="col-sm-4">
                        <MudTextField Class="form-control" @bind-Value="_reporter.NationalCode" id="NationalCode" Label="شماره ملی" Placeholder="1467561088"
                                      MaxLength="10" Variant="Variant.Outlined" Margin="Margin.Dense" Required="true" AdornmentIcon="@Icons.Outlined.NoiseControlOff"
                                      AdornmentColor="Color.Error" IconSize="Size.Small" Adornment="Adornment.End" RequiredError="شماره ملی را وارد نمایید"></MudTextField>
                    </div>
                    <div class="col-sm-4">
                        <MudTextField Class="form-control" @bind-Value="_reporter.MobilNumber" id="MobilNumber" Label="شماره همراه" Placeholder="09********"
                                      MaxLength="11" Variant="Variant.Outlined" Margin="Margin.Dense" Required="true" AdornmentIcon="@Icons.Outlined.NoiseControlOff"
                                      AdornmentColor="Color.Error" IconSize="Size.Small" Adornment="Adornment.End" RequiredError="شماره همراه را وارد نمایید"></MudTextField>
                    </div>
                    <div class="col-sm-4">
                        <InputPersianDatePicker Id="BirthDate"
                                                Name="myInputName"
                                                Visible="true"
                                                Disabled="false"
                                                PickerAlign="Blazor.PersianDatePicker.Align .Left"
                                                PickerOffsetTopPositionInPixels="0"
                                                InitialValue="false"
                                                CalendarType="Calendar.SingleModeJalali"
                                                DigitType="DigitType.English"
                                                DateFormat="DateFormat.yyyy_slash_MM_slash_dd"
                                                MinDateSetOnToday="false"
                                                Placeholder="تاریخ تولد "
                                                Theme="PickerTheme.Cheerup"
                                                OnChange="@(() => Console.WriteLine("OK"))"
                                                @bind-Value="_reporter.BirthDate" />
                    </div>
                    <div class="col-sm-4">
                  

                     <MudSelect   @bind-Value="_reporter.Sex" Label="جسیت"      AdornmentColor="Color.Primary"  
                       Required="true"  
                       Dense="true"
                        RequiredError="جنسیت را انتخاب نمایید " 
                     Variant="Variant.Outlined"
                     AnchorOrigin="Origin.BottomCenter" 
                     Clearable>

                            @foreach (SexType item in Enum.GetValues(typeof(SexType)))
                            {

                                <MudSelectItem Value="@item">
                                    @if (item == SexType.Male)
                                    {
                                    <MudIcon Icon="@Icons.Filled.Man" Color="Color.Default"></MudIcon>
                                    }

                                @if (item == SexType.Female)
                                    {
                                    <MudIcon Icon="@Icons.Filled.Woman" Color="Color.Error"></MudIcon>
                                    }
                                @item.GetEnumDescription()
                            </MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                    <div class="col-sm-4">
                        <MudTextField @bind-Value="_reporter.PostCode" id="PostCode" Label="کدپستی" Variant="Variant.Outlined"
                                      Margin="Margin.Dense" Class="form-control"></MudTextField>
                    </div>
                    <div class="col-sm-12">
                        <MudTextField @bind-Value="_reporter.Address" id="Address" Label="نشانی" Variant="Variant.Outlined" Margin="Margin.Dense"
                                      AdornmentIcon="@Icons.Outlined.NoiseControlOff" AdornmentColor="Color.Error" Adornment="Adornment.End"
                                      IconSize="Size.Small" Required="true" Class="form-control" RequiredError="نشانی را وارد نمایید"></MudTextField>
                    </div>
                </div>
                <div class="row">
                    <MudPaper Elevation="25">
                        <MudToolBar>
                            <MudIconButton Icon="@Icons.Material.Outlined.Add" Color="Color.Primary" OnClick="AddReporter" />
                        </MudToolBar>
                    </MudPaper>
                    <MudTable Items="@reporters" Hover="true" Breakpoint="Breakpoint.Sm" @ref="mudTable"
                              T="PGravamenPersonContract" Dense="true">
                        <HeaderContent>
                            <MudTh Style="width:150px">نام</MudTh>
                            <MudTh Style="width:250px">نام خانوادگی</MudTh>
                            <MudTh Style="width:100px">شماره ملی</MudTh>
                            <MudTh Style="width:100px">شماره همراه</MudTh>
                            <MudTh Style="width:10px"></MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="نام">@context.Name</MudTd>
                            <MudTd DataLabel="نام خانوادگی">@context.Family</MudTd>
                            <MudTd DataLabel="شماره ملی">@context.NationalCode</MudTd>
                            <MudTd DataLabel="شماره همراه">@context.MobilNumber</MudTd>
                            <MudTd>
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" Color="Color.Error" Size="Size.Small" OnClick="() => RemoveReporter(context)"></MudIconButton>
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" aria-label="edit" Color="Color.Primary" Size="Size.Small" Style="margin-right:5px" OnClick="() => EditReporter(context) "></MudIconButton>
                            </MudTd>

                        </RowTemplate>
                    </MudTable>
                </div>
            </MudForm>
        </MudExpansionPanel>
        <MudExpansionPanel Text="اطلاعات متهم">
            <MudForm Model="@_accuser" @ref="@Formaccuser">
                <div class="row">
                    <div class="col-sm-4">
                        <MudTextField @bind-Value="_accuser.Name" id="Name" Label="نام واحد صنفی متهم" Variant="Variant.Outlined" Margin="Margin.Dense"
                                      AdornmentIcon="@Icons.Outlined.NoiseControlOff" AdornmentColor="Color.Error" Adornment="Adornment.End"
                                      IconSize="Size.Small" Required="true" Class="form-control" RequiredError="نام واحد صنفی متهم را وارد نمائید"></MudTextField>
                    </div>
                    <div class="col-sm-8">
                        <MudTextField @bind-Value="_accuser.Address" id="Address" Label="نشانی واحد صنفی متهم" Variant="Variant.Outlined" Margin="Margin.Dense"
                                      AdornmentIcon="@Icons.Outlined.NoiseControlOff" AdornmentColor="Color.Error" Adornment="Adornment.End"
                                      IconSize="Size.Small" Required="true" Class="form-control" RequiredError="نشانی واحد صنفی متهم را وارد نمایید"></MudTextField>
                    </div>
                </div>
                <div class="row">
                    <MudPaper Elevation="25">
                        <MudToolBar>
                            <MudIconButton Icon="@Icons.Material.Outlined.Add" Color="Color.Primary" OnClick="Addaccuser" />
                        </MudToolBar>
                    </MudPaper>
                    <MudTable Items="@accusers" Hover="true" Breakpoint="Breakpoint.Sm" @ref="mudTableaccuser" @bind-SelectedItem="_selectedAccuser"
                              T="PGravamenPersonContract" Dense="true" RowClassFunc="@accuserSelectedRowClassFunc">
                        <HeaderContent>
                            <MudTh Style="width:150px">نام واحد متهم</MudTh>
                            <MudTh Style="width:450px">نشانی واحد متهم</MudTh>
                            <MudTh Style="width:10px"></MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="نام واحد متهم">@context.Name</MudTd>
                            <MudTd DataLabel="نشانی واحد متهم">@context.Address</MudTd>
                            <MudTd>
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" Size="Size.Small" Color="Color.Error" OnClick="()=> Removeaccuser(context)"></MudIconButton>
                                <MudIconButton Icon="@Icons.Material.Filled.Edit" aria-label="edit" Size="Size.Small" Color="Color.Primary" Style="margin-right:5px" OnClick="()=> Editaccuser(context)"></MudIconButton>
                            </MudTd>
                        </RowTemplate>

                    </MudTable>
                </div>
            </MudForm>
        </MudExpansionPanel>
        <MudExpansionPanel Text="مدارک شکوائیه">
            <MudForm Model="@_attachment" @ref="@Formattachment">
                <div class="row">
                    <div class="col-sm-8">
                        <MudTextField @bind-Value="_attachment.Title" id="Name" Label="عنوان مدرک" Variant="Variant.Outlined" Class="form-control"
                                      Margin="Margin.Dense" Required="true" AdornmentIcon="@Icons.Outlined.NoiseControlOff"
                                      AdornmentColor="Color.Error" Adornment="Adornment.End" IconSize="Size.Small" RequiredError="عنوان مدرک را مشخص نمایید"></MudTextField>
                        <InputFile id="fileInput" OnChange="UploadFiles" hidden multiple />
                    </div>
                    <div class="col-sm-2">
                        <MudButton HtmlTag="label"
                                   Variant="Variant.Filled"
                                   Color="Color.Info"
                                   StartIcon="@Icons.Filled.CloudUpload"  Class="form-control"
                                   for="fileInput">
                            بارگذاری مدرک
                        </MudButton>
                    </div>
                    <div class="col-sm-2">
                        <MudText Typo="Typo.button" Style="direction:ltr;">@uploadedFileInfo</MudText>
                    </div>
                    <ul>
                    </ul>
                    <div style="margin-top:10px"><label class="control-label" style="color: red;"></label></div>
                    <div style="margin-top:10px"><label class="control-label" style="color: red;"></label></div>
                </div>
                <div class="row">
                    <MudPaper Elevation="25">
                        <MudToolBar>
                            <MudIconButton Icon="@Icons.Material.Outlined.Add" Color="Color.Primary" OnClick="Addattachment" />
                        </MudToolBar>
                    </MudPaper>
                    <MudTable Items="@attachments" Hover="true" Breakpoint="Breakpoint.Sm" @ref="mudTableAttach" T="GAttachmentContract" Dense="true">
                        <HeaderContent>
                            <MudTh Style="width:150px;">عنوان مدرک</MudTh>
                            <MudTh Style="width:100px;">نام فایل</MudTh>
                            <MudTh Style="width:10px;"></MudTh>
                        </HeaderContent>
                        <RowTemplate>
                            <MudTd DataLabel="عنوان مدرک">@context.Title</MudTd>
                            <MudTd DataLabel="نام فایل">@context.PathAndFileName</MudTd>
                            <MudTd>
                                <MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" Size="Size.Small" Color="Color.Error" OnClick="()=> Removeattachment(context)"></MudIconButton>
                                <MudIconButton Icon="@Icons.Material.Filled.Download" aria-label="delete" Size="Size.Small" Color="Color.Success" Style="margin-right:4px" OnClick="()=>Downloadattachment(context)"></MudIconButton>
                            </MudTd>
                        </RowTemplate>
                    </MudTable>

                </div>
            </MudForm>
        </MudExpansionPanel>
    </MudExpansionPanels>
    <div class="row" style="margin-top:20px;margin-bottom: 20px;">
        <MudCheckBox Label="موارد مندرج در شکوائیه مورد تائید می باشد" LabelPosition="LabelPosition.Start" Color="Color.Secondary"
                     @bind-Checked="AcceptInfo" style="margin-left:10px;" Class="col-sm-4"></MudCheckBox>
        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Save" Color="Color.Info" Disabled="@(!AcceptInfo)"
                   Size="Size.Medium" Class="col-sm-12" OnClick="SaveGranovment" Style="font-size:1.2em;font-family: 'B Titr';">ثبت شکوائیه</MudButton>
    </div>
</MudForm>