@using Anu.PunishmentOrg.Client.Infrastructure.Settings
@using Anu.PunishmentOrg.Client.Pages.Authentication
@using MudBlazor.ThemeManager.Models
@using MudBlazor.ThemeManager
@using MudBlazor
@inherits LayoutComponentBase
@inject IDialogService DialogService

<MudRTLProvider RightToLeft="true"> 
<MudThemeProvider Theme="_theme" />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
     <MudAppBar Color="Color.Primary"  Elevation="1">
        <MudIconButton Color="Color.Inherit"
                       Edge="Edge.Start"
                       Icon="@_menuIcons"
                       OnClick="@DrawerToggle" />
                       @*OnClick="@(() => _drawerOpen = !_drawerOpen)" />*@
         <MudIcon Icon="@MudBlazor.Icons.Filled.Balance" Size="Size.Large" Color="Color.Inherit" />
          <MudText Typo="Typo.h5" Class="mr-3 mud-bold" Color="Color.Surface"> میز خدمت تعزیرات حکومتی   </MudText>
        <MudSpacer />
@*        <div>
            <MudSelect Class="mx-4"
                       Dense="true"
                       Label="تنظیمات نمایشی"
                       Style="max-width: 250px"
                       T="string"
                       Value="_themeManagerConfiguration.Key"
                       ValueChanged="ThemeManagerConfigChanged">
                @foreach (var config in _themeManagerConfigurations)
                {
                    <MudSelectItem T="string"  
                                   Value="config.Key" />
                }
            </MudSelect>
        </div>*@
       @* <MudIconButton Color="Color.Inherit"
                       Edge="Edge.End"
                       Icon="@Icons.Filled.Accessible" />*@
                                           <MudMenu ActivationEvent="@MouseEvent.MouseOver" AnchorOrigin="Origin.BottomLeft" >
                    <ActivatorContent>
                         @if(String.IsNullOrEmpty(SharedInfo.NationalCode))
                         {
                            <MudChip Icon="@Icons.Material.Filled.Person" Color="Color.Primary">ورود </MudChip>
                         }
                        else
                        {
                            <MudChip Icon="@Icons.Material.Filled.Person" Color="Color.Primary"> </MudChip>
                        }

                    </ActivatorContent>
   
                <ChildContent   >
                
                  
                    @if(String.IsNullOrEmpty(SharedInfo.NationalCode))
                    {
                            <MudListItem Text="ورود " Icon="@Icons.Filled.Logout"  Href="/login2" />
                              <MudDivider Class="mb-2" />
                        <MudListItem Text="ثبت نام " Href="/register" Icon="@Icons.Material.Filled.AppRegistration" />
                    }
                    else
                    {
                        <MudListItem Text="پروفایل کاربر "   Href="/Profile" Icon="@Icons.Filled.Person"   />
                        <MudListItem Text=" تغییر شماره تلفن " Href="/ChangeNumber" Icon="@Icons.Filled.PhonelinkSetup"   />
                          <MudDivider Class="mb-2" />
                         <MudListItem Text="خروج"  Icon="@Icons.Filled.Logout"  OnClick="Logout" />
                    }

                </ChildContent>
            </MudMenu>
    </MudAppBar>

     <MudDrawer @bind-Open="@_drawerOpen"
               Elevation="1">
@*        <MudText Class="pt-2 px-4"
                 Typo="Typo.h6">
            منوی سامانه تعزیرات
        </MudText>*@
                  <h6 class="pt-2 px-10 mud-nav-link-text"> 
            منوی سامانه تعزیرات
        </h6>
        <MudText Class="mud-text-secondary px-4"
                 Typo="Typo.body2">
            ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
        </MudText>
           <MudNavMenu Color="@Theme135._iconColor">
                           @if(String.IsNullOrEmpty(SharedInfo.NationalCode))
                            {
                                <MudNavMenu Color="Color.Primary">
                                <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.Home"  IconColor="@Theme135._iconColor"> پیشخوان خدمات تعزیرات  </MudNavLink>
 
    
                                        <MudNavLink Href="/Granovment" Icon="@Icons.Filled.DocumentScanner" IconColor="@Theme135._iconColor">
                                             ثبت شکایت 
                                        </MudNavLink>
                                          <MudNavLink Href="/isConstracting" Icon="@Icons.Material.Filled.Payments" IconColor="@Theme135._iconColor">
                                             پرداخت وجه 
                                        </MudNavLink>
                            </MudNavMenu>
                            }
                            else
                               {
                                    <MudNavLink Href="/" Match="NavLinkMatch.All" Icon="@Icons.Filled.Home"  IconColor = "@Theme135._iconColor"  > پیشخوان خدمات تعزیرات  </MudNavLink>
     
                                              <MudNavLink id="FrmNoticeMain" Href="/FrmNotice" Icon="@Icons.Filled.ManageSearch"   IconColor = "@Theme135._iconColor" >
                                                        جستجوی ابلاغ
                                                    </MudNavLink>
                                                    
                                                    <MudNavLink Href="/Granovment" Icon="@Icons.Filled.DocumentScanner"  IconColor = "@Theme135._iconColor" >
                                                         ثبت شکایت 
                                                    </MudNavLink>
                                                      <MudNavLink Href="/GranovmentList" Icon="@Icons.Filled.DocumentScanner"  IconColor = "@Theme135._iconColor" >
                                                         شکایت ها 
                                                    </MudNavLink>
                                                      <MudNavLink Href="/isConstracting" Icon="@Icons.Material.Filled.Payments"  IconColor="@Theme135._iconColor"  >
                                                         پرداخت وجه 
                                                    </MudNavLink>
                                                    <MudNavLink Href="/isConstracting" Icon="@Icons.Material.Filled.DocumentScanner"  IconColor = "@Theme135._iconColor"  >
                                                        لایحه
                                                    </MudNavLink>
                                                        <MudNavLink Href="/isConstracting" Icon="@Icons.Filled.DriveFileRenameOutline"  IconColor = "@Theme135._iconColor">
                                                        درخواست تجدید نظر خواهی 
                                                    </MudNavLink>
                                                     <MudNavLink Href="/isConstracting" Icon="@Icons.Filled.DonutLarge" IconColor = "@Theme135._iconColor" >
                                                       درخواست اعمال ماده ۲۳ 
                                                    </MudNavLink>
                                                      <MudNavLink Href="/isConstracting" Icon="@Icons.Filled.EscalatorWarning" IconColor = "@Theme135._iconColor" >
                                                        ثبت وکالت نامه 
                                                    </MudNavLink>
                                                        <MudNavLink Href="/isConstracting" Icon="@Icons.Filled.DoorSliding"  IconColor = "@Theme135._iconColor">
                                                        درخواست رسیدگی مجدد  
                                                    </MudNavLink>
                                                     <MudNavLink Href="/isConstracting" Icon="@Icons.Custom.Uncategorized.FolderOpen" IconColor = "@Theme135._iconColor" >
                                                     پیگیری پرونده 
                                                    </MudNavLink>
                                                     <MudNavLink Href="/isConstracting" Icon="@Icons.Filled.EmojiPeople" IconColor = "@Theme135._iconColor" >
                                                     ثبت اعتراض  
                                                    </MudNavLink>
                                 }
           </MudNavMenu>
        <NavMenu />
    </MudDrawer>
        <MudThemeManager @bind-Open="_themeManagerOpen"
                     @bind-Theme="_theme"
                     Configuration="_themeManagerConfiguration.Value" />
    <MudThemeManagerButton OnClick="@(e => _themeManagerOpen = true)" />
 
     <MudMainContent>
        <MudContainer Class="mt-16 px-16"
                      MaxWidth="MaxWidth.False">
            @Body
        </MudContainer>
    </MudMainContent>
 

</MudLayout>

</MudRTLProvider>

@code {
    [Parameter]
    public  bool _isDarkMode { set; get; } = false;
    private static string _dayNightIcons = Icons.Material.Filled.DarkMode;
    private static string _menuIcons = Icons.Material.Filled.MenuOpen;

    public static string _style ="height:100px;background-color:#ede3e3";
    public static string _class ="Circle_night";
    public static bool DarkMode = true;
    private MudTheme _theme1 = Theme135.DefaultTheme;

    private bool _Day = false;
    private bool _Night = true;

    public EventCallback OnDarkModeToggle { get; set; }


    /*********************************************/
     private readonly Dictionary<string, ThemeManagerConfiguration> _themeManagerConfigurations = new()
    {
        {"تم اول", ThemeManagerPresetConfigurations.GetPresetConfigOne()},
        {"تم دوم", ThemeManagerPresetConfigurations.GetPresetConfigTwo()}
    };

    private MudTheme _theme = new()
    {
        Palette = new Palette
        {
            Primary = Colors.Blue.Default,
            Secondary = Colors.BlueGrey.Lighten1
        }
    };

    private KeyValuePair<string, ThemeManagerConfiguration> _themeManagerConfiguration;

    private bool _drawerOpen = true ;
    private bool _themeManagerOpen;

    protected override void OnInitialized()
    {
        _themeManagerConfiguration = _themeManagerConfigurations.First();
    }

    private void ThemeManagerConfigChanged(string key)
    {
        _themeManagerConfiguration = _themeManagerConfigurations.FirstOrDefault(x => x.Key == key);
    }
    /*********************************************/
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
        if(_drawerOpen)
            _menuIcons = Icons.Material.Filled.MenuOpen;
        else
            _menuIcons = Icons.Material.Filled.Menu;

    }

    public void Logout()
    {
        SharedInfo.NationalCode = string.Empty;
        _navigationManager.NavigateTo("/");    
    }


    void GoHome()
    {
        _navigationManager.NavigateTo("/");    

    }

    public void onDarkMode()
    {
    
        if(! _isDarkMode )
        {
            Theme135._iconColor = Color.Success ;
            Theme135._LogoColor = Color.Success;

            _style ="height:100px;background-color:#181c1c";
            _class ="Circle";
            _dayNightIcons = Icons.Material.Filled.LightMode;

        }
        else
        {
            Theme135._iconColor = Color.Info;
            Theme135._LogoColor = Color.Surface;
            _style ="height:100px;background-color:#ede3e3";
            _class ="Circle_night";
            _dayNightIcons = Icons.Material.Filled.DarkMode;
        }

        DarkMode = _isDarkMode;
            _isDarkMode = !_isDarkMode;
            
        string[] uri =  _navigationManager.Uri.Split('/');
        string CurrentPage = uri[uri.Length-1];
        _navigationManager.NavigateTo("/DashboardPublic");
        _navigationManager.NavigateTo("/"+CurrentPage);
         StateHasChanged();


    }

private ThemeManagerTheme _themeManager = new ThemeManagerTheme();
public bool _themeManagerOpen = false;

void OpenThemeManager(bool value)
{
    _themeManagerOpen = value;
}



    //private ThemeManagerTheme _themeManager = new ThemeManagerTheme();
    public bool tr = true;
    public bool _themeManagerOpen1 = false;

    //void OpenThemeManager( bool value)
    //{
    //    _themeManagerOpen1 = value;
    //}

    
}



