
@page "/register"

@using Anu.BaseInfo.Enumerations
@using Anu.Commons.ServiceModel.ServiceAuthentication
@using Anu.Commons.ServiceModel.ServiceResponseEnumerations
@using Anu.PunishmentOrg.Client.Infrastructure.Contracts.Authorization
@using Anu.PunishmentOrg.Client.Infrastructure.Utitlities
@using System.Reflection
@using System.Globalization

@layout MainLayout
@attribute [AllowAnonymous]



@inject IAnuAuthorizationService  _anuAuthorizationService;
@inject AppConfiguration _appConfiguration;
@inject ISnackbar Snackbar

<MudCard >
<MudForm  Model="@_registerUserModel" @ref="@form"  ValidationDelay="0" class="vh-100" style="background-color: #eee;">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px;">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">ثبت نام</p>

                <form class="mx-1 mx-md-4">
          @******************************************@

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                   @* <MudItem class="form-outline flex-fill mb-0">
                        <InputPersianDatePicker Id="myInputDatePicker"
                        @bind-Value="_registerUserModel.BirthDate"

                        Name="myInputName"
                        Visible="true"
                        Disabled="false"
                        PickerAlign="Blazor.PersianDatePicker.Align .Left"
                        PickerOffsetTopPositionInPixels="0"
                        InitialValue="false"
                        CalendarType="Calendar.SingleModeJalali"
                        DigitType="DigitType.English"
                        DateFormat="DateFormat.yyyy_slash_MM_slash_dd"
                        MinDateSetOnToday="true"
                        Placeholder=" تاریخ تولد "
                        
                        Theme="PickerTheme.Cheerup"
                        OnChange="@(() => Console.WriteLine("OK"))" 
                      
                        />
                    </MudItem>*@
                            <MudDatePicker Label="تاریخ تولد"                  
                            Required="true" 
                             RequiredError="جنسیت را انتخاب نمایید " 
                            
                             Variant="Variant.Outlined"
                           
                            @bind-Date="date"
                            Culture="@GetPersianCulture()"
                            UseShortNames="false"
                          
                            TitleDateFormat="dddd, dd MMMM"/>
                  </div>
          @******************************************@

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                         <MudTextField  
                           
                            @bind-Value="_registerUserModel.UserName"
                            Label="کدملی " 
                            Variant="Variant.Outlined" 
                            Placeholder="1467561088"  
                            MaxLength="10"
                            Required="true" 
                            RequiredError="کد ملی باید 10 رقم باشد " />
                    </div>
                  </div>
          @******************************************@

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                         <MudTextField 
                         @bind-Value="_registerUserModel.FirstName" 
                         Label="نام " 
                       
                            Required="true" 
                            RequiredError="نام را وارد نمایید " 
                         Variant="Variant.Outlined"  
                         />
                 
                    </div>
                  </div>

          @******************************************@
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
                     <MudTextField     @bind-Value="_registerUserModel.LastName" Label="نام خانوادگی "
                       Required="true" 
                            RequiredError="نام خانوادگی  را وارد نمایید  " 
                            Variant="Variant.Outlined" />
                    </div>
                  </div>
          @******************************************@

                    <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                     <MudSelect   @bind-Value="_registerUserModel.Sex" Label="جسیت"      AdornmentColor="Color.Primary"  
                       Required="true" 
                            RequiredError="جنسیت را انتخاب نمایید " 
                     Variant="Variant.Outlined"
                     AnchorOrigin="Origin.BottomCenter" 
                     Clearable>
                    @foreach (SexType item in Enum.GetValues(typeof(SexType)))
                    {

                            <MudSelectItem Value="@item">
                            @if (item == SexType.Male)
                        {
                                    <MudIcon Icon= "@Icons.Filled.Man"  Color="Color.Default" ></MudIcon>
                        }

                        @if (item == SexType.Female)
                        {
                                    <MudIcon Icon= "@Icons.Filled.Woman" Color="Color.Error"  ></MudIcon>
                        }

                        @item.GetEnumDescription()
                            </MudSelectItem>
                    }
                 </MudSelect>

                  </div>

          @******************************************@
         <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div class="form-outline flex-fill mb-0">
          <div class="row">

                <div class="col-md-7 mb-3">

                  <div class="form-outline ">
                    <MudTextField T="string" Label="شماره تلفن "  Required="true"   @bind-Value="_registerUserModel.PhoneNumber"  Variant="Variant.Outlined" Placeholder="09121111111" RequiredError="شماره تلفن  را وارد نمایید "  MaxLength="11" />
                  </div>

                </div>
                <div class="col-md-5 mb-9" style=" text-align: center;margin-top: 18px !important;">

                    <MudButton Variant="Variant.Filled"  disabled="@(hasSmsSend)"  OnClick="GetAccessCode" class="btn  btn-lg ms-2" style="color: black !important;"> 

                                    @if(hasSmsSend)
                                     {
                                             <b> @ProgressValue ثانیه </b>
                                             <MudProgressCircular Color="Color.Error" Size="Size.Small" Value="@ProgressValue"  />
                                    }
                                    else
                                    {
                                            <b>دریافت کد </b>
                                    }
                            </MudButton>

                </div>
              </div>

                </div>
          </div>

          @******************************************@
        <div class="d-flex flex-row align-items-center mb-4">
        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
        <div class="form-outline flex-fill mb-0">
          <div class="row">

                <div class="col-md-7 mb-3">

                  <div class="form-outline ">
                       @if (hasSmsSend)
                        {
                           
                            <MudTextField  T="string" Label="رمز ارسالی"  @bind-Value="smsPassword" Variant="Variant.Outlined" Placeholder="111111"   MaxLength="6"  />
                         
                        }
                  </div>

                </div>
                <div class="col-md-5 mb-9" style=" text-align: center;margin-top: 18px !important;">

                    <MudButton Variant="Variant.Outlined"  disabled="@(!hasSmsSend)"  Color="Color.Primary"  class="btn  btn-lg ms-2"  OnClick="Submit"  > ثبت نام  </MudButton>
                   
                </div>
              </div>

                </div>
          </div>
          @******************************************@
                </form>

              </div>
              <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                <img src="/pic/Registerlogo2.png"
                  class="img-fluid" alt="Sample image">

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
     
</MudForm>
</MudCard >
@code {

    private string genderIcon = @Icons.Filled.Man;
    private bool showPassword = false;
    private string smsPassword = "";
    public int ProgressValue { get; set; }
    MudForm form;

    UserRigesterFluentValidator registerValidator = new UserRigesterFluentValidator();


    private bool Validated = true;
    private UserRegisterRequest _registerUserModel = new();
    private string errorMessage = string.Empty;
    bool _disposed;
    public void Dispose() => _disposed = true;
    private bool hasSmsSend = false;

    public async void SimulateProgress()
    {
        ProgressValue = 120;
        do
        {
            if (_disposed)
            {
                return;
            }

            ProgressValue -= 1;
            StateHasChanged();
            await Task.Delay(1000);

        } while (ProgressValue > 0);

        hasSmsSend = false;
        StateHasChanged();
    }

    void GetAccessCode()
    {
        form.Validate();

        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
        if (form.Errors.Count() > 0)
        {
            foreach (string str in form.Errors)
            {
                Snackbar.Add(str, MudBlazor.Severity.Error);
            }
            return;
        }
        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
        if (string.IsNullOrEmpty(_registerUserModel.PhoneNumber) || _registerUserModel.PhoneNumber.Length != 11)
        {
            Snackbar.Add("شماره تلفن را درست وارد نمایید .",  MudBlazor.Severity.Warning);
            return;

        }
        //_registerUserModel.BirthDate = changeDateToPersian(date);
      
        _registerUserModel.BirthDate =  changeDateToPersian(date).GetUTF8();
        _registerUserModel.FirstName = _registerUserModel.FirstName.GetUTF8();
        _registerUserModel.LastName = _registerUserModel.LastName.GetUTF8();


        AuthResult result = _anuAuthorizationService.RegisterUser(_appConfiguration.BackendServerAddress, _appConfiguration.RegisterAddress, _registerUserModel);

        if (result.Result.Code == (int)AnuResult.LoginSuccessful_Sms_Send_To)
        {
            Snackbar.Add(result.Result.Message, MudBlazor.Severity.Success);
            hasSmsSend = true;

            SimulateProgress();
        }
        else
        {
            Snackbar.Add(result.Result.Message, MudBlazor.Severity.Error);
            hasSmsSend = false;
            errorMessage = result.Result.Message;
        }
    }


    string changeDateToPersian(DateTime? d)
    {

        PersianCalendar pc = new PersianCalendar();
        
        string s = string.Format("{0}/{1}/{2}", pc.GetYear(d.Value), pc.GetMonth(d.Value).ToString().PadLeft(2,'0'), pc.GetDayOfMonth(d.Value).ToString().PadLeft(2,'0'));
        return s;
    }

    [Inject] private IDialogService DialogService { get; set; }

    async void   Submit()
    {


        form.Validate();

        Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
        if (form.Errors.Count() > 0)
        {
            foreach (string str in form.Errors)
            {
                Snackbar.Add(str, MudBlazor.Severity.Error);
            }
            return;
        }

        var secondStep = new SecondStepUserLoginRequest();
        secondStep.UserName = _registerUserModel.UserName;
        secondStep.Password = smsPassword;
        secondStep.LoginType = Commons.ServiceModel.ServiceAuthentication.Enumerations.LoginType.LoginWithSms;
        AuthResult result = _anuAuthorizationService.V2Login(_appConfiguration.BackendServerAddress, _appConfiguration.LoginAddress, secondStep).Result;

        if (result.Result.Code == (int)AnuResult.Successful)
        {
            SharedInfo.NationalCode = _registerUserModel.UserName;
            SharedInfo.AccessToken = result.AccessToken;

            secondStep = new();
            _registerUserModel = new();

            //bool? resulXt = await DialogService.ShowMessageBox(
            //"تبریک", 
            //"کاربری شما با موفقیط ثبت گردید", 
            //yesText:"بستن!");
             Snackbar.Add(result.Result.Message, MudBlazor.Severity.Success);

             await Task.Delay(5000);
             _navigationManager.NavigateTo("/");



        }
        else
        {
            errorMessage = result.Result.Message;
            showPassword = true;
            Snackbar.Configuration.PositionClass = Defaults.Classes.Position.BottomLeft;
            Snackbar.Add(result.Result.Message,  Severity.Warning);
        }
    }

    private bool _passwordVisibility;
    private InputType _passwordInput = InputType.Password;


    DateTime? date = DateTime.Now;

    public CultureInfo GetPersianCulture()
    {
        var culture = new CultureInfo("fa-IR");
        DateTimeFormatInfo formatInfo = culture.DateTimeFormat;
        formatInfo.AbbreviatedDayNames = new[] { "ی", "د", "س", "چ", "پ", "ج", "ش" };
        formatInfo.DayNames = new[] { "یکشنبه", "دوشنبه", "سه شنبه", "چهار شنبه", "پنجشنبه", "جمعه", "شنبه" };
        var monthNames = new[]
        {
            "فروردین", "اردیبهشت", "خرداد", "تیر", "مرداد", "شهریور", "مهر", "آبان", "آذر", "دی", "بهمن",
            "اسفند",
            "",
        };
        formatInfo.AbbreviatedMonthNames =
            formatInfo.MonthNames =
                formatInfo.MonthGenitiveNames = formatInfo.AbbreviatedMonthGenitiveNames = monthNames;
        formatInfo.AMDesignator = "ق.ظ";
        formatInfo.PMDesignator = "ب.ظ";
        formatInfo.ShortDatePattern = "yyyy/MM/dd";
        formatInfo.LongDatePattern = "dddd, dd MMMM,yyyy";
        formatInfo.FirstDayOfWeek = DayOfWeek.Saturday;
        System.Globalization.Calendar cal = new PersianCalendar();
        FieldInfo fieldInfo = culture.GetType().GetField("calendar", BindingFlags.NonPublic | BindingFlags.Instance);
        if (fieldInfo != null)
            fieldInfo.SetValue(culture, cal);
        FieldInfo info = formatInfo.GetType().GetField("calendar", BindingFlags.NonPublic | BindingFlags.Instance);
        if (info != null)
            info.SetValue(formatInfo, cal);
        culture.NumberFormat.NumberDecimalSeparator = "/";
        culture.NumberFormat.DigitSubstitution = DigitShapes.NativeNational;
        culture.NumberFormat.NumberNegativePattern = 0;
        return culture;
    }

}
