@page "/register"
@using Anu.PunishmentOrg.Client.Infrastructure.Contracts.Authorization
@layout MainLayout
@attribute [AllowAnonymous]
@inject AppConfiguration _appConfiguration;
@inject IAnuAuthorizationService  anuAuthorizationService;
<EditForm Model="@_registerUserModel" OnValidSubmit="SubmitAsync">
@*    <FluentValidationValidator @ref="_fluentValidationValidator" />
*@ 
 
 <div class=" col-lg-12 col-12 col-md-12 col-sm-12 ">
             <div class="col-6">
            <MudGrid  xs="4" sm="4" md="4">
  
        
                    <MudItem xs="12">
                        <div class="d-flex justify-center">
              
                            <MudIcon Icon="@Icons.Filled.Balance" Color="Color.Primary" Size="Size.Large" ViewBox="0 0 500 500" Style="width: 100px; height: 100px;" />
                        </div>
                    </MudItem>
                    <MudItem xs="12">
                        <div class="d-flex justify-center">
                            <MudText Typo="Typo.h4">ثبت نام</MudText>
                        </div>
                    </MudItem>
        
                    <MudItem  xs="12">
                        <MudTextField For="@(() => _registerUserModel.UserName)" @bind-Value="_registerUserModel.UserName" Label="کدملی " Variant="Variant.Outlined" />
                    </MudItem>
      
                    @*<MudItem  xs="12" sm="6" md="6">
                        <MudTextField T="string" Label="آیمیل" @bind-Value="_registerUserModel.Email" For="@(() => _registerUserModel.Email)" Variant="Variant.Outlined"/>
                    </MudItem>*@
                    <MudItem  xs="12" sm="12" md="12">
                        <MudTextField T="string" Label="شماره تلفن " @bind-Value="_registerUserModel.PhoneNumber" For="@(() => _registerUserModel.PhoneNumber)" Variant="Variant.Outlined"/>
                    </MudItem>
                    <MudItem  xs="12" sm="12" md="12">
                        <MudTextField For="@(() => _registerUserModel.Password)" InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" @bind-Value="_registerUserModel.Password" Label="کلمه عبور" Variant="Variant.Outlined"/>
                    </MudItem>
                    <MudItem xs="12">
                                        <div class="d-flex justify-center">
                                            <MudText Color="Color.Error">@errorMessage </MudText>
                                        </div>
                   </MudItem>
                    <MudItem  xs="12" Class="d-flex justify-center">
                        <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Disabled="@(!Validated)" Color="Color.Primary" Size="Size.Large" Style="width: 100%;">ثبت نام</MudButton>
                    </MudItem>
             </MudGrid>
             </div>
 </div>
</EditForm>
@code {

       private string _variable1;
}