@page "/DashboardPublic"
@using Anu.PunishmentOrg.Client.Infrastructure.Settings
@using Anu.PunishmentOrg.Client.Pages.Authentication

<MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium"> 

    <MudGrid>
        <MudItem xs="12" sm="6" md="6">
              <MudElement HtmlTag="a"
            Class="ma-0"
            Style="color:red;font-weight:bold;"
            href="/Granovment"
              
            rel="noopener noreferrer">
             <MudPaper  xs="12" sm="12" md="12" Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100%">
                <div   class="col-xl-2 col-sm-2 col-md-2 col-2">
                    <MudIcon Icon="@Icons.Filled.Comment" Color="@Theme135._iconColor" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                </div>
                <div class="row col-xl-10 col-sm-10 col-md-10 col-10">

                   <div class="col-xl-10 col-sm-10 col-md-10 col-10">
                    <MudText xs="3" sm="3" md="3" Typo="Typo.h6" Class="mud-typography mud-bold mud-text-secondary mb-n1 mt-4 text-center  "> ثبت شکوائیه</MudText>
                   </div>
                
                </div>
            </MudPaper>
             </MudElement>
        </MudItem>
        <MudItem xs="12" sm="6" md="6" >
              <MudElement HtmlTag="a"  Class="ma-0 disabled"  Style="color:red;font-weight:bold;"  href="/isConstracting"     rel="noopener noreferrer">
              @*<MudPaper  xs="12" sm="12" md="12" Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="@MainLayout._style">*@
              <MudPaper  xs="12" sm="12" md="12" Elevation="25" Class="d-flex flex-row pt-6 pb-4  disabled-backGround" >

                    <div   class="col-xl-2 col-sm-2 col-md-2 col-2">
                        <MudIcon Icon="@Icons.Filled.Payments" Color="@Theme135._iconColor" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                    </div>
                    <div class="row col-xl-10 col-sm-10 col-md-10 col-10">

                       <div class="col-xl-10 col-sm-10 col-md-10 col-10">
                        @*<MudText xs="3" sm="3" md="3" Typo="Typo.subtitle1"  Class="mud-typography dashboard_items mud-text-secondary mb-n1 mt-4 text-center  ">  پرداخت  وجه </MudText>*@
                         <MudText xs="3" sm="3" md="3"  disabled="@true" Typo="Typo.h6" Class="mud-typography mud-bold mud-text-secondary mb-n1 mt-4 text-center "  >  پرداخت  وجه   </MudText>
                       </div>
 
                    </div>
       
                </MudPaper>
            </MudElement>
       </MudItem>  
      
    </MudGrid>

        
</MudContainer>

@code
{

    MudBlazor.Color _iconColor = Color.Info;

    private void onGotToDirect()
    {
         _navigationManager.NavigateTo("/FrmNoticeMain");
    }
 
}
