@page "/dashboard"

<MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium">
   
   
            
        
          
              
        
     


    <MudGrid>
        <MudItem xs="12" sm="6" md="3">
              <MudElement HtmlTag="a"
            Class="ma-0"
            Style="color:red;font-weight:bold;"
            href="/Notice"
            target="blank"
            rel="noopener noreferrer">
            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.ManageSearch" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">ابلاغ</MudText>
                    <MudText >7</MudText>
                </div>
            </MudPaper>
            </MudElement>
        </MudItem>

        <MudItem xs="12" sm="6" md="3">
              <MudElement HtmlTag="a"
            Class="ma-0"
            Style="color:red;font-weight:bold;"
            href="/isConstracting"
            target="blank"
            rel="noopener noreferrer">
            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.AddIcCall" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">ثبت شکایت</MudText>
                    <MudText  >10</MudText>
                </div>
            </MudPaper>
             </MudElement>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
              <MudElement HtmlTag="a"
            Class="ma-0"
            Style="color:red;font-weight:bold;"
            href="/isConstracting"
            target="blank"
            rel="noopener noreferrer">
            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.Payments" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">‍‍‍پرداخت  وجه  </MudText>
                    <MudText  >15</MudText>
                </div>

            </MudPaper>
            </MudElement>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
              <MudElement HtmlTag="a"
            Class="ma-0"
            Style="color:red;font-weight:bold;"
            href="/isConstracting"
            target="blank"
            rel="noopener noreferrer">
            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.Payments" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">پرداخت وجه  </MudText>
                    <MudText  >6</MudText>
                </div>
            </MudPaper>
            </MudElement>
        </MudItem>
       

           <MudItem xs="12" sm="6" md="3">
              <MudElement HtmlTag="a"
            Class="ma-0"
            Style="color:red;font-weight:bold;"
            href="/isConstracting"
            target="blank"
            rel="noopener noreferrer">

            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.DocumentScanner" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1"> لایحه  </MudText>
                    <MudText >6</MudText>
                </div>
            </MudPaper>
            </MudElement>
        </MudItem>


  <MudItem xs="12" sm="6" md="3">
              <MudElement HtmlTag="a"
            Class="ma-0"
            Style="color:red;font-weight:bold;"
            href="/isConstracting"
            target="blank"
            rel="noopener noreferrer">

            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.DriveFileRenameOutline" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1"> درخواست تجدید نظر خواهی  </MudText>
                    <MudText >6</MudText>
                </div>
            </MudPaper>
            </MudElement>
        </MudItem>   
        

         <MudItem xs="12" sm="6" md="3">
              <MudElement HtmlTag="a"
            Class="ma-0"
            Style="color:red;font-weight:bold;"
            href="/isConstracting"
            target="blank"
            rel="noopener noreferrer">

            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.DonutLarge" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1"> درخواست اعمال ماده ۲۳  </MudText>
                    <MudText  >6</MudText>
                </div>
            </MudPaper>
            </MudElement>
        </MudItem>   

                 <MudItem xs="12" sm="6" md="3">
              <MudElement HtmlTag="a"
            Class="ma-0"
            Style="color:red;font-weight:bold;"
            href="/isConstracting"
            target="blank"
            rel="noopener noreferrer">

            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.EscalatorWarning" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1"> ثبت وکالت نامه   </MudText>
                    <MudText  >6</MudText>
                </div>
            </MudPaper>
            </MudElement>
        </MudItem>   

              <MudItem xs="12" sm="6" md="3">
              <MudElement HtmlTag="a"
            Class="ma-0"
            Style="color:red;font-weight:bold;"
            href="/isConstracting"
            target="blank"
            rel="noopener noreferrer">

            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Material.Filled.DoorSliding" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1"> درخواست رسیدگی مجدد   </MudText>
                    <MudText  >6</MudText>
                </div>
            </MudPaper>
            </MudElement>
        </MudItem>

          <MudItem xs="12" sm="6" md="3">
              <MudElement HtmlTag="a"
            Class="ma-0"
            Style="color:red;font-weight:bold;"
            href="/isConstracting"
            target="blank"
            rel="noopener noreferrer">

            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Custom.Uncategorized.FolderOpen" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1">پیگیری پرونده</MudText>
                    <MudText  >6</MudText>
                </div>
            </MudPaper>
            </MudElement>
        </MudItem>

         <MudItem xs="12" sm="6" md="3">
              <MudElement HtmlTag="a"
            Class="ma-0"
            Style="color:red;font-weight:bold;"
            href="/isConstracting"
            target="blank"
            rel="noopener noreferrer">

            <MudPaper Elevation="25" Class="d-flex flex-row pt-6 pb-4" Style="height:100px;">
                <MudIcon Icon="@Icons.Filled.EmojiPeople" Color="Color.Secondary" Class="mx-4" Style="width:54px; height:54px;"></MudIcon>
                <div>
                    <MudText Typo="Typo.subtitle1" Class="mud-text-secondary mb-n1"> ثبت اعتراض</MudText>
                    <MudText  >6</MudText>
                </div>
            </MudPaper>
            </MudElement>
        </MudItem>

       
    </MudGrid>


        
</MudContainer>