@page "/Notice"
@using Anu.PunishmentOrg.Client.Infrastructure.Notice
@using Anu.PunishmentOrg.ServiceModel.Notice

<SearchNotice OnNoticeSearch="HandleNoticeSearch"> </SearchNotice>


@if(Elements?.Count()>0)
{
     @*   <MudDataGrid Items="@Elements">
            <Columns>
                <Column T="PNoticeContract" Field="PNoticeContract" Title="Nr" />
                <Column T="PNoticeContract" Field="No" />
                <Column T="PNoticeContract" Field="PNoticeContract" />
                <Column T="PNoticeContract" Field="NoticePersonFamily" />
                <Column T="PNoticeContract" Field="NoticePersonName"  />
            </Columns>
        </MudDataGrid>*@
        <MudChip>@Elements.Count()</MudChip>

}
else
{
   <MudChip>0</MudChip>
 }


@if (Elements is null)
{
    <p><em>Loading... !</em></p>
}
else
{
    <table class="table">
            <thead>
                <tr>
                    <th>  زمان ثبت </th>
                    <th> شماره</th>
                    <th>  تاريخ ابلاغ </th>
                    <th>  نام  ابلاغ شونده</th>
                    <th>  نام خانوادگي ابلاغ شوند</th>
                </tr>
            </thead>
        <tbody>
            @foreach(var emp in Elements)
                {
                    <tr>
               
                        <td>@emp.CreateDateTime</td>
                         <td>@emp.No</td>
                         <td>@emp.NoticeDate</td
                         <td>@emp.NoticePersonName</td>
                        <td>@emp.NoticePersonFamily</td>
                
                    </tr>
                }
        </tbody>
    </table>
    }

@code {
    private IEnumerable<PNoticeContract> Elements;

    
    private void HandleNoticeSearch(string nationalcode)
    {
       
       
        Elements  = NoticeService.getPNoticeList(nationalcode);

    }
        
}